/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-xl font-montserrat text-primary-100 m-4 cursor-pointer;
  }
  .section {
    @apply py-8 h-screen flex items-center;
  }
  .input-container {
    @apply bg-gradient-to-r from-secondary-pink via-secondary-purple to-secondary-blue rounded-md mb-4 focus-within:p-0.5 transition-all ease-in duration-75;
  }
}

body {
  @apply scrollbar-hide bg-primary-400 mobile:w-screen;
}

.carousel .thumb {
  @apply !rounded-lg border-red-600;
}

.carousel .thumb img {
  @apply !rounded-md;
}

.thumbs-wrapper {
  @apply !my-1 !mx-0;
}

@keyframes rotateAndFloat {
  0% {
    transform: rotate(0) translateY(-50px);
  }
  25% {
    transform: rotate(90deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(50px);
  }
  75% {
    transform: rotate(270deg) translateY(0);
  }
  100% {
    transform: rotate(360deg) translateY(-50px);
  }
}
